* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;

}

@media (max-width: 640px) {  
    body {
        background-color: beige;
    }
}